src/xsd/LCMSMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:vu360-lcms="http://www.threesixtytraining.com/LCMSMessages.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.threesixtytraining.com/LCMSMessages.xsd">	

	<xsd:element name="UploadAssetInChunk">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" maxOccurs="1" name="fileName" type="xsd:string"/>
				<xsd:element minOccurs="0" maxOccurs="1" name="buffer" type="vu360-lcms:ArrayOfUnsignedByte"/>
				<xsd:element minOccurs="1" maxOccurs="1" name="Offset" type="xsd:long"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="ArrayOfUnsignedByte">
		<xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="unsignedByte" type="xsd:unsignedByte"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="UploadAssetInChunkResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="1" maxOccurs="1" name="UploadAssetInChunkResult" type="xsd:boolean"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="SaveAsset">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" maxOccurs="1" name="assetType" type="xsd:string"/>
				<xsd:element minOccurs="1" maxOccurs="1" name="assetId" type="xsd:long"/>
				<xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string"/>
				<xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string"/>
				<xsd:element minOccurs="0" maxOccurs="1" name="keywords" type="xsd:string"/>
				<xsd:element minOccurs="0" maxOccurs="1" name="fileName" type="xsd:string"/>
				<xsd:element minOccurs="1" maxOccurs="1" name="itemsPerPage" type="xsd:int"/>
				<xsd:element minOccurs="0" maxOccurs="1" name="content" type="xsd:string"/>
				<xsd:element minOccurs="1" maxOccurs="1" name="contentOwnerId" type="xsd:int"/>
				<xsd:element minOccurs="1" maxOccurs="1" name="languageId" type="xsd:int"/>
				<xsd:element minOccurs="1" maxOccurs="1" name="fileUploaded" type="xsd:boolean"/>
				<xsd:element minOccurs="1" maxOccurs="1" name="loggedInUserID" type="xsd:int"/>
				<xsd:element minOccurs="0" maxOccurs="1" name="DisplayText1" type="xsd:string"/>
				<xsd:element minOccurs="0" maxOccurs="1" name="DisplayText2" type="xsd:string"/>
				<xsd:element minOccurs="0" maxOccurs="1" name="DisplayText3" type="xsd:string"/>
				<xsd:element minOccurs="0" maxOccurs="1" name="AffidavitType" type="xsd:string"/>
				<xsd:element minOccurs="0" maxOccurs="1" name="affidavitTemplateID" type="xsd:long"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="SaveAssetResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="1" maxOccurs="1" name="SaveAssetResult" type="xsd:int"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	
	<xsd:element name="UpdateAssetStatus">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" maxOccurs="1" name="assetIds" type="vu360-lcms:ArrayOfLong"/>
				<xsd:element minOccurs="1" maxOccurs="1" name="active" type="xsd:boolean"/>
				<xsd:element minOccurs="1" maxOccurs="1" name="loggedInUserID" type="xsd:int"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="ArrayOfLong">
		<xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="long" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="UpdateAssetStatusResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="1" maxOccurs="1" name="UpdateAssetStatusResult" type="xsd:int"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="GetAssetFileInfo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="1" maxOccurs="1" name="assetId" type="xsd:long"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="GetAssetFileInfoResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" maxOccurs="1" name="GetAssetFileInfoResult" type="vu360-lcms:ArrayOfString"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="ArrayOfString">
		<xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:element name="DownloadAssetInChunk">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" maxOccurs="1" name="filePath" type="xsd:string"/>
				<xsd:element minOccurs="1" maxOccurs="1" name="offset" type="xsd:long"/>
				<xsd:element minOccurs="1" maxOccurs="1" name="bufferSize" type="xsd:int"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="DownloadAssetInChunkResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" maxOccurs="1" name="DownloadAssetInChunkResult" type="vu360-lcms:ArrayOfUnsignedByte"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="InvalidateCourseConfigurationCache">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="1" maxOccurs="1" name="courseConfigurationID" type="xsd:int"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="InvalidateCourseConfigurationCacheResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="1" maxOccurs="1" name="InvalidateCourseConfigurationCacheResult" type="xsd:boolean"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="InvalidateCourseApprovalCache">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="1" maxOccurs="1" name="courseApprovalID" type="xsd:int"/>
				<xsd:element minOccurs="1" maxOccurs="1" name="courseID" type="xsd:int"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="InvalidateCourseApprovalCacheResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="1" maxOccurs="1" name="InvalidateCourseApprovalCacheResult" type="xsd:boolean"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
					
</xsd:schema>
